<div class="container">
  <% @interviews.each do |i| %>
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            <h1 class="display-3"><%= i.name %></h1>
            <p class="lead"><%= i.description %></p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-success btn-lg" href="#" role="button">Изменить</a>

              <%= link_to "Посмотреть статистику", admin_interview_path(i), :class => "btn btn-info btn-lg" %>

            </p>
            <h2 class="badge badge-info"><%= i.category.name %></h2>
          </div>
        </div>
      </div>
  <% end %>
</div>
