<div class="container">
  <h3 class="display-4 text-center heading">Новый опрос</h3>
  <hr>

  <%= form_for @interview, url: {action: "create"} do |f| %>
      <div id="app" class="vue_app">

        <div class="row">
          <div class="col-md-8 push-md-2 builder_interview">
            <div class="form-group">
              <label for="title" class="col-form-label">Название опроса</label>
              <input class="form-control" type="text" name="interview[name]" placeholder="Название" id="example-text-input">
            </div>
            <div class="form-group">
              <label for="title" class="col-form-label">Краткое описание</label>
              <input class="form-control" type="text" name="interview[description]" placeholder="Описание" id="example-text-input">
            </div>
            <hr>
            <div v-for="q in questions">
              <%= f.fields_for :questions, :index => @question.id do |q| %>
                  <div class="form-group">
                    <label for="exampleTextarea">Вопрос
                      <span class="badge badge-info question_number">{{ q.number }}</span></label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" v-bind:name="q.dinName"></textarea>
                  </div>
              <% end %>
            </div>
            <div class="row">
              <div class="form-group col">
                <button type="button" class="btn btn-info" @click.prevent="add()">Добавить вопрос</button>
              </div>

              <div class="form-group col">
                <div class="form-group">

                  <select v-model="category" class="form-control" name="interview[category_id]">
                    <option v-for="option in options" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group col">
                <input type="submit" class="btn btn-success float-right" value="Готово">
              </div>
            </div>

          </div>
        </div>
      </div>
  <% end %>

</div>

<%= javascript_include_tag 'https://unpkg.com/vue' %>



