<div class="statistics" id="<%= @interview_id %>">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>SHOW</h1>

        <ul>
          <li>Получить вопросы опроса</li>
          <li>Получить людей, прошедших опрос</li>
          <li>Получить количество баллов по каждому вопросу</li>
        </ul>
      </div>

      <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>


<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js' %>
