<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Забыли пароль?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Восстановить пароль", :class => "btn btn-info" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

