<div class="container">
  <div class="row">
    <div class="col-4">
      <h2>Войти</h2>


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, :class => "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me, :class => "form-control" %>
                <%= f.label :remember_me %>
              </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Войти", :class => "btn btn-info" %>
          </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


