<div id="interview">
  <div class="container">
    <div class="row justify-content-center my-3">
      <div class="col-md-5">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary" @click.prevent="medical()">Здравоохранение</button>
          <button type="button" class="btn btn-secondary" @click.prevent="culture()">Культура</button>
          <button type="button" class="btn btn-secondary" @click.prevent="education()">Образование</button>
          <button type="button" class="btn btn-secondary" @click.prevent="all()">Все</button>
        </div>
      </div>
    </div>

        <div class="row">
          <div class="col">
            <div class="jumbotron" v-for="i in interviews">
              <h1 class="display-3">{{ i.name }}</h1>
              <p class="lead">{{ i.description }}</p>
              <hr class="my-4">
              <p class="lead">
                <%= form_tag(action: "start") do %>
                    <input type="hidden" name="interview_id" id="interview_id" v-model="i.id">
                    <%= submit_tag 'Пройти опрос', :class => "btn btn-success btn-lg" %>
                <% end %>
              </p>
              <!--FIXME insert category name-->
              <h2 class="badge badge-info"><%#= i.category.name %></h2>
            </div>
          </div>
        </div>

  </div>
</div>





<%= javascript_include_tag 'https://unpkg.com/vue' %>

