<div id="test">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <p class="lead">{{ question.name }}</p>
          <hr class="my-4">
          <p class="lead">Оцените по шкале</p>
          <p class="lead">
            <nav aria-label="">

              <ul class="pagination pagination-lg">
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="1"/> 1
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="2"/> 2
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="3"/> 3
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="4"/> 4
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="5"/> 5
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="6"/> 6
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="7"/> 7
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="8"/> 8
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="9"/> 9
                </label>
                <label class="btn btn-info btn-lg page-item m-0 mr-1">
                  <input class="" type="radio" v-model="question.answer_number" value="10"/> 10
                </label>

                </li>
              </ul>
            </nav>

            <button class="btn btn-info" @click.prevent="nextQuestion()">Далее</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'https://unpkg.com/vue' %>






