<div id="result">
  <h1>RESULT</h1>
  <ul>
    <% @results.each do |r| %>
        <li><%= r[:question] %> - Ответ: <%= r[:answer]%></li>
    <% end %>
  </ul>


  <div class="chart-container">
    <canvas id="chart"></canvas>
  </div>

</div>


<%= javascript_include_tag 'https://unpkg.com/vue' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js' %>
