<!DOCTYPE html>
<html>
<head>
  <title>Gmu</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<header class="mb-3">
  <%= render 'layouts/messages' %>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">ADMIN</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        </li><li class="nav-item">
        <%= link_to "Опросы", admin_interview_index_path, class: "nav-link"%>
      </li>
        <li class="nav-item">
          <%= link_to "Создать опрос", new_admin_interview_path, class: "nav-link"%>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
            <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% else %>
            <%= link_to "Войти", new_user_session_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
      </form>
    </div>
  </nav>
</header>


<%= yield %>

<%= javascript_include_tag 'https://unpkg.com/axios/dist/axios.min.js' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
